<b>Partlist exported from C:/Users/rgandhi/Desktop/BS_VRS/Design/BS_RS485/Version_1/Design Files/15359-01_REV01.sch at 9/20/2017 3:30 PM</b>
<p>
<table>
<tr><td><b>Qty</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Parts</b></td><td><b>Description</b></td><td><b></b></td></tr>
<tr><td>27</td><td></td><td>TP_CLASSB_1.5MM</td><td>TP_1.5MM</td><td>+3V3_TP, COM_RX, COM_TX, GND_1, GND_2, GND_3, GND_4, GND_5, GND_6, GND_7, GND_8, TP1, TP2, TP3, TP4, TP5, TP6, TP7, TP8, TP9, TP10, TP11, TP12, TP13, TP14, U2_RXD, U2_TXD</td><td></td><td></td></tr>
<tr><td>5</td><td>0</td><td>RES_SMD_0603</td><td>RESC1608X50N</td><td>R6, R14, R22, R27, R47</td><td></td><td></td></tr>
<tr><td>11</td><td>0.1uF</td><td>CAP_SMD_0402</td><td>CAPC1005X55N</td><td>C4, C22, C23, C36, C38, C40, C41, C42, C44, C45, C46</td><td></td><td></td></tr>
<tr><td>8</td><td>0.1uF</td><td>CAP_SMD_0603</td><td>CAPC1608X55N</td><td>C1, C2, C14, C17, C18, C27, C29, C33</td><td></td><td></td></tr>
<tr><td>5</td><td>0.47uF</td><td>CAP_SMD_0603</td><td>CAPC1608X55N</td><td>C15, C26, C30, C34, C35</td><td></td><td></td></tr>
<tr><td>3</td><td>0.5MM_FIDUCIAL</td><td>0.5MM_FIDUCIAL</td><td>0.5MM_FIDUCIAL</td><td>F1, F2, F3</td><td></td><td></td></tr>
<tr><td>2</td><td>0R</td><td>3PIN_JUMPER_0603</td><td>3PIN_JMP1608X50N</td><td>J2, J3</td><td></td><td></td></tr>
<tr><td>7</td><td>10K</td><td>RES_SMD_0402</td><td>RESC1005X40N</td><td>R33, R34, R35, R36, R39, R42, R44</td><td></td><td></td></tr>
<tr><td>2</td><td>10nF</td><td>CAP_SMD_0402</td><td>CAPC1005X55N</td><td>C10, C31</td><td></td><td></td></tr>
<tr><td>2</td><td>10uF</td><td>BOURNS_SRP4020TA-100M</td><td>IND445X406X180</td><td>L1, L2</td><td></td><td></td></tr>
<tr><td>2</td><td>10uF</td><td>CAP_SMD_0603</td><td>CAPC1608X55N</td><td>C19, C20</td><td></td><td></td></tr>
<tr><td>5</td><td>10uF</td><td>CAP_SMD_0805</td><td>CAPC2013X145N</td><td>C37, C39, C43, C47, C48</td><td></td><td></td></tr>
<tr><td>1</td><td>120</td><td>RES_SMD_0603</td><td>RESC1608X50N</td><td>R10</td><td></td><td></td></tr>
<tr><td>4</td><td>15pF</td><td>CAP_SMD_0402</td><td>CAPC1005X55N</td><td>C5, C8, C21, C28</td><td></td><td></td></tr>
<tr><td>2</td><td>18pF</td><td>CAP_SMD_0603</td><td>CAPC1608X55N</td><td>C12, C13</td><td></td><td></td></tr>
<tr><td>1</td><td>1K</td><td>RES_SMD_0603</td><td>RESC1608X50N</td><td>R12</td><td></td><td></td></tr>
<tr><td>5</td><td>1uF</td><td>CAP_SMD_0603</td><td>CAPC1608X55N</td><td>C3, C11, C24, C25, C32</td><td></td><td></td></tr>
<tr><td>1</td><td>240,1%</td><td>RES_SMD_0805</td><td>RESC2013X70N</td><td>R2</td><td></td><td></td></tr>
<tr><td>7</td><td>330</td><td>RES_SMD_0402</td><td>RESC1005X40N</td><td>R28, R29, R30, R31, R32, R37, R38</td><td></td><td></td></tr>
<tr><td>1</td><td>392,1%</td><td>RES_SMD_0805</td><td>RESC2013X70N</td><td>R3</td><td></td><td></td></tr>
<tr><td>2</td><td>4.7uF</td><td>CAP_SMD_0603</td><td>CAPC1608X55N</td><td>C9, C16</td><td></td><td></td></tr>
<tr><td>6</td><td>470</td><td>RES_SMD_0805</td><td>RESC2013X70N</td><td>R4, R16, R17, R18, R19, R46</td><td></td><td></td></tr>
<tr><td>1</td><td>47K</td><td>RES_SMD_0402</td><td>RESC1005X40N</td><td>R20</td><td></td><td></td></tr>
<tr><td>1</td><td>50k</td><td>RES_SMD_0805</td><td>RESC2013X70N</td><td>R1</td><td></td><td></td></tr>
<tr><td>1</td><td>AB26TRQ-32.768KHZ-9</td><td>AB26TRQ-32.768KHZ</td><td>AB26TRQ</td><td>X1</td><td></td><td></td></tr>
<tr><td>1</td><td>ADM2582</td><td>ADM2X82/87E</td><td>SOIC127P1032X265-16AN</td><td>U4</td><td></td><td></td></tr>
<tr><td>1</td><td>ADM2682</td><td>ADM2X82/87E</td><td>SOIC127P1032X265-16AN</td><td>U3</td><td></td><td></td></tr>
<tr><td>3</td><td>APHHS1005CGCK</td><td>LED_SMD_0402</td><td>LEDC1005X60N</td><td>D4, D7, D10</td><td></td><td></td></tr>
<tr><td>3</td><td>APHHS1005SURCK</td><td>LED_SMD_0402</td><td>LEDC1005X60N</td><td>D6, D8, D9</td><td></td><td></td></tr>
<tr><td>1</td><td>APHHS1005SYCK</td><td>LED_SMD_0402</td><td>LEDC1005X60N</td><td>D5</td><td></td><td></td></tr>
<tr><td>1</td><td>B8B-PHDSS</td><td>JST_B8B-PHDSS</td><td>JST_B8B-PHDSS</td><td>J6</td><td></td><td></td></tr>
<tr><td>1</td><td>CDBA240LL-HF</td><td>COMCHIP_CDBA240LL-HF</td><td>DO-214AC_475X290</td><td>D3</td><td></td><td></td></tr>
<tr><td>1</td><td>CGRA4001-G</td><td>COMCHIP_CGRA400X-G</td><td>DO-214AC_450X280</td><td>D1</td><td></td><td></td></tr>
<tr><td>2</td><td>DNP</td><td>CAP_SMD_0603</td><td>CAPC1608X55N</td><td>C6, C7</td><td></td><td></td></tr>
<tr><td>3</td><td>DNP</td><td>RES_SMD_0402</td><td>RESC1005X40N</td><td>R40, R41, R43</td><td></td><td></td></tr>
<tr><td>8</td><td>DNP</td><td>RES_SMD_0603</td><td>RESC1608X50N</td><td>R8, R9, R13, R21, R23, R24, R25, R26</td><td></td><td></td></tr>
<tr><td>2</td><td>DNP</td><td>RES_SMD_0805</td><td>RESC2013X70N</td><td>R7, R11</td><td></td><td></td></tr>
<tr><td>2</td><td>DNP 0</td><td>RES_SMD_0603</td><td>RESC1608X50N</td><td>R5, R45</td><td></td><td></td></tr>
<tr><td>1</td><td>DNP 470</td><td>RES_SMD_0402</td><td>RESC1005X40N</td><td>R15</td><td></td><td></td></tr>
<tr><td>1</td><td>DNP APHHS1005CGCK</td><td>LED_SMD_0402</td><td>LEDC1005X60N</td><td>D2</td><td></td><td></td></tr>
<tr><td>1</td><td>GRAYHILL_94HXB08RAX</td><td>GRAYHILL_94HXB08RAX</td><td>GRAYHILL_94HXB08RAX</td><td>J9</td><td></td><td></td></tr>
<tr><td>1</td><td>JST_S3B-ZR-SM2-TF</td><td>PHOENIX_CONTACT_MC-1,5/3-G-3,81</td><td>PHOENIX_CONTACT_MC-1,5/3-G-3,81</td><td>J8</td><td></td><td></td></tr>
<tr><td>1</td><td>LM317D2PAK-3</td><td>ONSEMI_LM317D2PAK-3_D2T-SUFFIX_CASE936</td><td>ONSEMI_LM317</td><td>U2</td><td></td><td></td></tr>
<tr><td>1</td><td>MSP430F5438AIPZR</td><td>TI_MSP430F5438AIPZR</td><td>QFP50P1600X1600X120-100N</td><td>U5</td><td></td><td></td></tr>
<tr><td>3</td><td>RJ45_1PORT_W/2LED</td><td>RJ45_1PORT_W/2LED</td><td>RJHSE_538X</td><td>J1, J4, J5</td><td></td><td></td></tr>
<tr><td>1</td><td>S14B-PHDS</td><td>JST_PHD_14PIN_2MM14PIN_2MM</td><td>JST_PHD_14PIN_2MM</td><td>J7</td><td></td><td></td></tr>
<tr><td>1</td><td>SMMBT2907ALT1G</td><td>SMMBT2907ALT1G</td><td>SOT-23</td><td>U1</td><td></td><td></td></tr>
<tr><td>1</td><td>TL3304AF260QL</td><td>ESWITCH_TL3304AF260QL</td><td>ESWITCH_TL3304AF260QJ</td><td>S1</td><td></td><td></td></tr>
</table>
